@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  text-align: center;
  background-color: #121419;
}

body {
  font-family: 'OldLondon';
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 8em #9a9aa1aa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 8em #61dafbaa);
}

.pdf-viewer-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.pdf-viewer {
  position: relative;
  width: 90%;
  height: 90%;
  background: white;
  overflow: auto;
}

@font-face {
  font-family: 'OldLondon';
  src: url('/fonts/OldLondon.woff');
}